@font-face {
    src: url("../fonts/Nexa Bold.otf");
    font-family: "Nexa-Bold";
}
@font-face {
    src: url("../fonts/HelveticaRegular.ttf");
    font-family: "Helvetica-Regular";
}
@font-face {
    src: url("../fonts/Amarillo.ttf");
    font-family: "Amarillo";
}


